
{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="subtitle is-5">{{ .Date.Format "2006年1月2日" }} {{ if (ne ($.Param "displayauthor") false) }} by {{ .Params.author | default .Site.Params.author }}{{ end }}</h2>
    <div class="content">
      {{ .Content }}
    </div>
    {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
    {{ end }}
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
